<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>

  <h1>WELCOME BACK <%= currentUser.username %></h1>
  <p><b>Job Role:</b> <%= currentUser.role %></p>

  <ul>
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin/addtask/:<%= currentUser.user_id %>">Add Task</a></li>
    <li><a href="/log-out">Log out</a></li>
  </ul>
  
  <%- include('partials/successMsg.ejs', {success: locals.success}) %>

  <%- include('partials/errorMsg.ejs', {errors: locals.errors}) %>

  <form action="" method="post">
    <label for="task"><b>Add Task</b></label> 
    <textarea name="task" id="task"></textarea>
    <button>Submit</button>
  </form>
  
</body>
</html>