<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
  <link rel="icon" type="image/x-icon" href="/favicon-32x32.png">
  <link rel="stylesheet" href="/simple.min.css">
</head>
<body>
  
    <h1>WELCOME BACK <%= currentUser.username %></h1>
    <p><b>Job Role:</b> <%= currentUser.role %></p>

    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/add-task">Add Task</a></li>
      <li><a href="/log-out">Log out</a></li>
    </ul>

    <p><b>Created by:</b> <%= task.full_name %></p>

  <%- include('partials/successMsg.ejs', {success: locals.success}) %>

  <%- include('partials/errorMsg.ejs', {errors: locals.errors}) %>

  <form action="" method="post">
    <label for="task"><b>Edit Task</b></label> 
    <textarea name="task" id="task"><%= task.task %></textarea>
    <button>Update</button>
  </form>
  
</body>
</html>