<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Members Only</title>
  <link rel="icon" type="image/x-icon" href="/favicon-32x32.png">
  <link rel="stylesheet" href="/pico.min.css">
</head>
<body>
  <main class="container">
    <h1>WELCOME BACK <%= currentUser.full_name %></h1>
    <p><b>Job Role:</b> <%= currentUser.role %></p>
  
    <ul>
      <li><a href="/add-task">Add Task</a></li>
      <li><a href="/log-out">Log out</a></li>
    </ul>

    <table>
      <tr>
        <th>Task</th>
        <th>Created By</th>
        <th>Created At</th>
      </tr>

      <% tasks.forEach(function (task) { %>
      <tr>
        <td><%= task.task %></td>
        <td><%= task.full_name %></td>
        <td><%= task.created_at %></td>
      </tr>
      <% }) %>
    </table>

  </main>
</body>
</html>